<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLoggedIn; else loginLink" class="nav-link" [routerLink]="['/cart', user_id]">
                <i class="fas fa-shopping-cart icon"></i> Cart
            </a>

            <ng-template #loginLink>
              <a class="nav-link" [routerLink]="['/login']">
                <i class="fas fa-shopping-cart icon"></i> Cart
              </a>
            </ng-template>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/order', user_id]">My Orders</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="isLoggedIn == false">
            <a class="btn btn-outline-success" routerLink="/login">Log in</a>
          </li>

         
          <li class="nav-item dropdown" *ngIf="isLoggedIn == true">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-circle"></i> {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" routerLink="/user_profile">User Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/user_product', user_id]">User Product</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
